@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-white;
  }
  input {
    @apply text-gray-700 px-3 py-2 border border-gray-500 border-solid;
    font-size: 12pt;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply appearance-none;
  }
  input:focus {
    @apply outline-none;
  }
  svg {
    @apply text-gray-700 stroke-current;
  }
  button:focus {
    @apply outline-none;
  }
}

@layer components {
  /* Text */
  .title {
    @apply font-extrabold text-gray-700;
    font-size: 40pt;
  }
  .subtitle {
    @apply font-extrabold text-gray-700;
    font-size: 20pt;
  }
  .lbody {
    @apply font-semibold text-gray-700;
    font-size: 14pt;
  }
  .body {
    @apply text-gray-700;
    font-size: 14pt;
  }
  .sbody {
    @apply text-grey;
    font-size: 12pt;
  }
  /* Buttons */
  .btn {
    @apply font-bold py-2 disabled:opacity-50 disabled:cursor-default;
    border-radius: 5px;
    font-size: 12pt;
    min-width: 112px;
  }
  .btn-default {
    @apply btn bg-white text-black;
  }
  .btn-default-outlined {
    @apply btn bg-grey-light text-black;
  }
  .btn-blue {
    @apply btn bg-blue text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-dark disabled:bg-blue;
  }
  .btn-blue > svg {
    stroke: #ffffff;
  }
  .btn-blue-outlined {
    @apply btn bg-transparent text-blue border-blue border-2 border-solid;
  }
  .btn-blue-outlined:hover {
    @apply bg-blue text-white border-0 disabled:bg-transparent disabled:border-2 disabled:text-blue;
  }
  .btn-white {
    @apply btn bg-white text-blue;
  }
  .btn-white:hover {
    @apply bg-grey-light disabled:bg-white;
  }
  .btn-white > svg {
    stroke: #ffffff;
  }
  .btn-yellow {
    @apply btn bg-yellow text-black;
  }
  .btn-yellow:hover {
    @apply bg-yellow-dark disabled:bg-yellow;
  }
  .btn-yellow > svg {
    stroke: #ffffff;
  }
  .btn-yellow-outlined {
    @apply btn bg-transparent text-yellow border-yellow border-2 border-solid;
  }
  .btn-yellow-outlined:hover {
    @apply bg-yellow text-white border-0 disabled:bg-transparent disabled:border-2 disabled:text-yellow;
  }
  .btn-black {
    @apply btn bg-black text-white;
  }
  .btn-square {
    border-radius: 5px;
  }
  .btn-small {
    @apply text-sm;
    height: 27px;
    min-width: 60px;
  }
  .btn-large {
    @apply w-full;
  }
  .btn-fab {
    @apply rounded-full h-auto p-4;
    min-width: 40px;
  }
  .btn-fab-small {
    @apply btn-fab p-1;
    min-width: 20px;
  }
  .btn-fab > svg,
  .btn-fab-small > svg {
    margin: 0 auto;
  }
}

.no-stroke-color {
  stroke: none;
}
